/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f6f9;
    color: #333;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* En-tête principal */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #28a745;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Conteneur principal du formulaire */
.container {
    max-width: 400px;  /* Limitation de la largeur */
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style du formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Style des labels */
label {
    font-weight: bold;
    color: #555;
}

/* Style des champs d'entrée */
input {
    max-width: 350px; /* Limite de la taille des inputs */
    width: 100%; 
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    margin: auto; /* Centre les champs d'entrée */
}

/* Focus sur les champs d'entrée */
input:focus {
    border-color: #28a745;
    outline: none;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

/* Style du bouton */
button {
    background-color: #28a745;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 350px;
    margin: auto; /* Centre le bouton */
}

/* Effet hover sur le bouton */
button:hover {
    background-color: #218838;
}

/* Bouton désactivé */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Message d'erreur */
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
}

/* Texte sous le formulaire */
p {
    text-align: center;
    margin-top: 10px;
}

/* Responsivité pour les petits écrans */
@media screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }
}
